:textile
  h2. An Explanation

  p. If you've come to this site looking for something, perhaps on a blog called _The Squizlog_, I can understand your confusion. If you've just stumbled here, you can probably ignore the next couple of paragraphs.

  p. Back in 2003 I enthusiastically entered the world of blogging and for many years put a lot of energy into publishing posts on a wide variety of topics. However, it has been ages since I wrote anything on _The Squizlog_ regularly. So, when a renewal notice arrived from the company that used to host keithpitty.org, I decided it was time to quietly put the site to rest. 
  
  p. Maybe I'll resurrect it at some point in the future but I make no promises.
  
  h2. Other places
  
  p. You may be interested in:
  
  * "My professional site":http://keithpitty.com, where I occasionally "write about software":http://keithpitty.com/blog.
  * The site of the company, "Cockatoo Software":http://www.cockatoosoftware.com.au.
  * Some of "my photos":http://flickr.com/keithpitty on flickr
  
  p. However, I make no guarantee that following any of these links will be a good use of your time.
  
  h2. Contacting me
  
  p. If you'd like to get in touch, you're welcome to "send me an email":mailto:keith@keithpitty.org.

  p. Meanwhile, if you're interested in what I have to say, you're welcome to "follow me on twitter":http://twitter.com/keithpitty. If I know you, there's every chance I'll follow you back!