<h2>An Explanation</h2>

<p>If you&#8217;ve come to this site looking for something, perhaps on a blog called <em>The Squizlog</em>, I can understand your confusion. If you&#8217;ve just stumbled here, you can probably ignore the next couple of paragraphs.</p>

<p>Back in 2003 I enthusiastically entered the world of blogging and for many years put a lot of energy into publishing posts on a wide variety of topics. However, it has been ages since I wrote anything on <em>The Squizlog</em> regularly. So, when a renewal notice arrived from the company that used to host keithpitty.org, I decided it was time to quietly put the site to rest.</p>

<p>Maybe I&#8217;ll resurrect it at some point in the future but I make no promises.</p>

<p><em>Keith Pitty, July 2011</em></p>

<h2>Elsewhere</h2>

<p>You may be interested in <a href="https://keithpitty.com">my professional site</a>, where I occasionally <a href="https://keithpitty.com/blog">write about software</a>.</p>

<p>However, I make no guarantee that this will make good use of your time.</p>
